/* iphone 7/8/13/15 375*667*/
/* 要再客製化一點 */
@media(max-width: 767px) {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: cover;
    }

    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        width: 60%;
        height: 58%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        top: 8%;
        left: 14%;
        background: none;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img,
    #slider2 img {
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 2%;
    }

    #slider2 img {
        top: 12%;
    }
    #slider1 p {
       
        top: -0.7%;
    }
    #slider2 p {
       
        top: 9.3%;
    }
    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 80%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 109%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 26%;
        left: 5%;
        
    }
    #fakeBtn2{
        width: 14%;
        top: 55%;
        left: 0%;
    }
    #fakeBtn3{
        width: 11%;
        top: 63%;
        left: 9%;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 65%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 75%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 72%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }

    /* #fakebtn1 {
        width: 65%;
        position: absolute;
        position: absolute;
        top: 80%;
        left: 4%;
    }

    #fakebtn2 {
        width: 57%;
        position: absolute;
        top: 120%;
        left: 5%;
    } */
}