
/* iphone 7/8/13/15 375*667*/
@media(max-width: 376px) and (min-width: 0px)  {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: cover;
    }

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8); 

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at 21% 6%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }

    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        pointer-events: none; /* 防止影響點擊 */
    }

    #on {
        width: 33%;
        height:0%;
        top: 16%;
        left: 31%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 9%;
    }

    #slider1 p {
       
        top: 5%;
    }
    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 80%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 109%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 26%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 55%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 63%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 65%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 75%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 72%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index:50;
        position: absolute;
        top: 8%;
        left: 47%;
    }
}

/* iphone XR 414*898*/
@media(max-width: 414px) and (min-width: 377px) {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 125%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at  22% 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }

    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        width: 33%;
        top: 16%;
        height:0%;
        left: 31%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 7%;
    }
    #slider1 p {
       
        top: 4%;
    }
    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 80%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 112%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 24%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 53%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 62%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 64%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 75%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 72%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 6%;
        left: 47%;
    }

}
/* iphone 14 pro  430*932*/
@media(max-width: 430px) and (min-width: 415px) {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 123%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at 21% 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }
    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        height:0%;
        width: 33%;
        top: 16%;
        left: 31%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 6%;
    }
    #slider1 p {
       
        top: 3%;
    }

    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 70%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 113%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 21%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 46%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 54%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 54%;
        left: 81%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 64%;
        width: 100%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 61%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 5%;
        left: 47%;
    }
}

/* samsung  360*740 */
@media(width: 360px) and (height: 740px) {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 121%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at  21.5% 5%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }
    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        height:0%;
        width: 33%;
        top: 16%;
        left: 31%;

        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img {
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 8%;
    }
    #slider1 p {
       
        top: 4%;
    }

    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 70%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 113%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 21%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 46%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 54%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 54%;
        left: 81%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 64%;
        width: 100%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 61%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 7.5%;
        left: 47%;
    }
}

/* iphone 6/7/8 +  414*736 */
@media(width: 414px) and (height: 736px){
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 125%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at 21.5% 6%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }
    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        height:0%;
        width: 33%;
        top: 16%;
        left: 31%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 9%;
    }

    #slider1 p {
       
        top: 5%;
    }

    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 80%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 112%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 24%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 51%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 58%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 58%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 74%;
        width: 100%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 68%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 8%;
        left: 47%;
    }
}

/* iphone X  375*812 */
@media(height: 812px) {
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 125%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at 80px 40px, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }
    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        height:0%;
        width: 60%;
        height: 58%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        top: 8%;
        left: 14%;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 8%
    }

    #slider1 p {
       
        top: 5%;
    }
    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 72%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 109%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 22%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 47%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 56%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 53%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 67%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 63%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 7%;
        left: 47%;
    }

}

/* iphone 6/7/8 +  414*736 */
@media(width: 393px) and (height: 852px){
    #Instructions {
        height: 100px;
        float: left;
        width: 39%;
        position: relative;
    }

    body {
        width: auto;
        margin: 0;
        background-image: url(img/BG-01.jpg);
        background-size: 125%;
    }
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: rgba(0, 0, 0, 0.8);

        /* 遮罩圓形區域 */
        mask-image: radial-gradient(circle 60px at 21.5% 6%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 50%);
    }

    body.hide-overlay::before {
        opacity: 0;  /* 讓遮罩漸漸隱藏 */
        pointer-events: none; /* 防止影響點擊 */
    }

    #sessionMessage {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        background: rgba(255, 0, 0, 0.8);
        padding: 15px 20px;
        border-radius: 5px;
        z-index: 200; 
        display: none; 
    }
    #open_bg {
        width: 100%;
        height: 100%;
    }

    #open_bg img {
        width: 58%;
        height: auto;
        top: -16%;
        left: 22%;
        position: absolute;
        
    }

    #on {
        height:0%;
        width: 33%;
        top: 16%;
        left: 31%;
        border-radius: 100%;
        border: 0;
        padding: 0;
        display: block;
        position: absolute;
        background: none;
        mix-blend-mode: normal;
        z-index: 150;
    }

    #on img {
        width: 100%;

        pointer-events: none;
    }

    /* 容器基礎樣式 */
    .container {
        width: fit-content;
        height: fit-content;
        margin: 0 0 auto;
        /* display: none; */
    }

    #disc {
        width: 100%;
        clear: both;
        height: auto;
        touch-action: none;
        margin-bottom: 8%;
    }

    .slider_container {
        width: 60%;
        height: 100px;
        float: right;
        margin-bottom: 10%;
    }
    .slider_container p{
        font-weight: 900;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 41%;
        color: #5a5a5a;
    }

    #slider1 img{
        left: 36%;
        width: 62%;
        position: absolute;
        user-select: none;
        touch-action: none;
    }

    #slider1 img {
        top: 9%;
    }

    #slider1 p {
       
        top: 5%;
    }

    #lightButton{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 88%;
        justify-items: center;
        position: absolute;
        left: 52%;
        transform: translateX(-50%);
        top: 80%;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
        width: 65%;
        margin-bottom: 4%;
    }

    #lightButton img {
        max-width: 88%;
        max-height: 88%;
        pointer-events: none;
        object-fit: contain;
        display: block;
        filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.5));
    }


    #discImg {
        width: 97%;

        height: auto;
        object-fit: cover;
        transform-origin: center;
    }

    .functionBtn {
        width: 64%;
        background: none;
        border: 0;
        position: absolute;
        
    }

    #safety {
        top: 76%;
        left: 1%;
    }

    #safetybtn {
        width: 108%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }

    #happy {
        top: 112%;
        left: 1%;

    }

    #happybtn {
        width: 96%;
        filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.5));
        pointer-events: none;
    }
    .fakeBtn{
        position: absolute;
        pointer-events: none;
    }
    #fakeBtn1{
        width: 9%;
        top: 24%;
        left: 5%;
        z-index: -1;
    }
    #fakeBtn2{
        width: 14%;
        top: 51%;
        left: 0%;
        z-index: -1;
    }
    #fakeBtn3{
        width: 11%;
        top: 58%;
        left: 9%;
        z-index: -1;
    }
    #playBtn{
        position: absolute;
        width: 17%;
        height: 7%;
        top: 58%;
        left: 82%;
        background: none;
        border: 0;
    }
    #playBtn img{
        width: 100%;
        pointer-events: none;
    }
    svg{
        position: absolute;
        top: 74%;
        width: 100%;
    }
    #lightText{
        font-weight: 800;
        font-family: sans-serif;
        font-size: xx-small;
        position: absolute;
        left: 50%;
        top: 68%;
        color: #5a5a5a;
        transform: translateX(-50%);
    }
    #slider1 #waterfall_fish{
        width: 32%;
        z-index: 50;
        position: absolute;
        top: 8%;
        left: 47%;
    }
}

