/* iphone 7/8/13/15 375*667*/
/* 要再客製化一點 */
@media(max-width: 767px) {
    #Instructions {
        height: 36px;
        padding: 4px;
    }
    body {
        background-color: #363533;
        /* background-image: linear-gradient(to bottom left, #000000, #363533); */
        /* background-image: url(img/dj台-bg_工作區域\ 1.jpg);
        background-size: cover; */
    }

    #help {
        width: 32px;
        height: 32px;
        border-radius: 100%;
        border: 4px solid white;
        background: gray;
        text-align:center;
        font-weight: 900;
        color: white;
    }

    #on {
        width: 48px;
        height: 48px;
        border-radius: 100%; 
        border: 0; 
        float: right;
        padding: 0; 
        display: block;
        position: relative;
    }
    
    #on img {
        width: 100%;
        height: 84px;
        object-fit: cover;
        position: absolute;
        top: -20px;
        left: 0;
        pointer-events: none;
    }
    /* 容器基礎樣式 */
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    #disc {
        width: 100%;
        height: 300px;
        text-align: center;
        margin-bottom: 80px;
    }

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .slider{
        width: 24px;
        height: 208px;
        background-color: #eaeaea;
        border: 2px solid #aaaaaa;
        overflow: visible;
        position: relative;
    }
    #slider1 {
        margin: 0 0 0 16px;
    }

    #slider1 img,
    #slider2 img {
        width: 64px;
        position: absolute;
        top: -10px;
        left: -18px;
        transform: translate(-2%, -1%);
    }

    #lightButton {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 60%;
        height: 168px;
        border: 1.5px solid #908e8d;
        border-radius: 8px;
        column-gap: 10px;
        padding: 8px;
    }

    #lightButton button {
        border: none;
        background: none;
        padding: 0;
        cursor: pointer;
        height: auto;
    }

    #lightButton img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
        display: block;
    }

    #discImg {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}